<div class="input-group d-flex gap-3 align-items-start mb-3">
  <label [for]="lable" class="form-label fw-semibold m-0 pt-2">{{
    lable
  }}</label>
  <table
    style="width: 550px"
    class="text-center table table-light border rounded-2 border-color overflow-hidden"
  >
    <thead class="table-active">
      <tr style="border-bottom-style: hidden">
        <th class="text-start">Name</th>
        <th class="">Quantity</th>
        <th class="">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of _invoice" class="">
        <td class="text-start">{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.product.price * item.quantity }} $</td>
      </tr>
      <tr>
        <td class="text-start pt-4 ps-4">Items</td>
        <td class="pt-4"></td>
        <td class="pt-4">{{ order.totalItems }} pcs</td>
      </tr>
      <tr style="border-top-style: hidden; padding: 10">
        <td class="text-start">Sub Total</td>
        <td></td>
        <td>{{ order.finalPrice }} $</td>
      </tr>
      <tr style="border-top-style: hidden">
        <td class="text-start">Tax 14%</td>
        <td></td>
        <td>{{ order.tax }} $</td>
      </tr>
      <tr style="border-top-style: hidden">
        <td class="text-start">Vouchers</td>
        <td></td>
        <td>{{ order.discount }} $</td>
      </tr>
      <tr style="border-style: hidden">
        <td class="text-start">Total</td>
        <td></td>
        <td>{{ order.finalPrice + order.tax + order.discount }} $</td>
      </tr>
    </tbody>
  </table>
</div>
