.border-radiusTL{
    border-top-left-radius: 15px !important;
}
.border-radiusTR{
    border-top-right-radius: 15px !important;
}
.border-radiusBL{
    border-bottom-left-radius: 15px !important;
}
.border-radiusBR{
    border-bottom-right-radius: 15px !important;
}