<div
  class="d-flex gap-5 flex-column align-items-center justify-content-center vh-100"
>
  <h1
    style="font-size: 200px; font-weight: bolder; margin-bottom: 80px"
    class="text-secondary mb-5"
  >
    404
  </h1>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <p>Sorry, page not found</p>
    <a
      style="cursor: pointer"
      (click)="routeHome()"
      class="d-flex align-items-center gap-3 text-primary text-decoration-underline"
    >
      Home
    </a>
  </div>
</div>
