<!-- <p-chart type="bar" [data]="data" [options]="options"></p-chart>
<div class=>
    <p-chart type="pie" [data]="data" [options]="options" width="200px" height="200px"></p-chart>
    <p-chart type="doughnut" [data]="data" [options]="options" width="200px" height="200px"></p-chart>
    <p-chart type="bar" [data]="data" [options]="options" width="200px" height="200px"></p-chart>
    <p-chart type="line" [data]="data" [options]="options" width="200px" height="200px"></p-chart>
    <p-chart type="line" [data]="data" [options]="options" width="200px" height="200px"></p-chart>
    <p-chart type="line" [data]="data" width="200px" height="200px"></p-chart>

    <p-chart type="line" [data]="data" width="200px" height="200px" [responsive]="false"></p-chart>
</div> -->