<form [formGroup]="formGroup" (ngSubmit)="handelSubmit($event)">
<div class="page d-flex gap-4">
  <div class="table-wrap">
    <app-table-controls
      [resualtsCount]="ordersCount"
      [itemsCount]="itemsCount"
      [selectedItems]="selectedItems"
      [dangerBtn]="'Cancel'"
      [warningBtn]="'Open Ticket'"
    ></app-table-controls>
    <app-table
      (selectedEmiiter)="getSelected($event)"
      [cols]="tableCols"
      [page]="'orders'"
      [data]="orders"
    ></app-table>
    <app-pagination
      [pagesCount]="pagesCount"
      [pageName]="'orders'"
      (pageEmitter)="getPage($event)"
      class="mx-4"
    ></app-pagination>
  </div>
  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel"
  >
  <form [formGroup]="formGroup"></form>
    <div class="offcanvas-body">
      <div
        class="w-100 overflow-scroll p-4 d-flex flex-column justify-content-between"
      >
        <div>
          <h1 class="mb-5">Filters</h1>
          <app-filter-text
            [id]="'trckingField'"
            [lable]="'Tracking Number'"
            [type]="'number'"
            [control]="formGroup.controls.trackingNumber"
          ></app-filter-text>
          <app-filter-text
            [id]="'userField'"
            [lable]="'User ID'"
            [type]="'number'"
            [control]="formGroup.controls.userId"
          ></app-filter-text>
          <app-filter-dropdown
            [id]="'deliveryField'"
            [lable]="'Delivery Status'"
            [items]="[
              'pending',
              'packaging',
              'shipping',
              'deliverd',
              'canceled'
            ]"
            [control]="formGroup.controls.deliveryStatus"
          ></app-filter-dropdown>
          <app-filter-dropdown
            [id]="'govField'"
            [lable]="'governorates'"
            [items]="governorates"
            (dropdownEmmiter)="getSelectedGov($event)"
            [control]="formGroup.controls.governorate"
          ></app-filter-dropdown>
          <app-filter-dropdown
            [id]="'cityField'"
            [lable]="'City'"
            [items]="selectedCities"
            [control]="formGroup.controls.city"
          ></app-filter-dropdown>
          <app-filter-dropdown
            [id]="'sortField'"
            [lable]="'Sort By'"
            [items]="['test', 'test2', 'test3']"
            [control]="formGroup.controls.sortBy"
          ></app-filter-dropdown>
          <app-filter-range
            [allMax]="10000"
            [allMin]="100"
            [lable]="'Price'"
            [myStep]="100"
            (valuesEmiter)="priceValue($event)"
          >
          </app-filter-range>
          <app-filter-range
            [allMax]="100"
            [allMin]="1"
            [lable]="'Items'"
            [myStep]="1"
            (valuesEmiter)="itemsValue($event)"
          >
          </app-filter-range>
        </div>
        <button class="btn btn-dark w-100">Apply</button>
      </div>
    </div>
  </div>
</div>
</form>