<div
  class="mb-3 border bg-white rounded-2 d-flex align-items-center justify-content-between p-2"
>
  <div class="d-flex align-items-center fs-6 ps-2">
    <span class="px-2 me-2 border-end"
      >{{ itemsCount || 15 }} of {{ resualtsCount }} Results
    </span>
    <span
      class="fw-normal px-2 me-2 border-end"
      [ngClass]="selectedItems.length ? 'text-primary' : 'text-muted'"
      >({{ selectedItems.length }}) selected</span
    >
    <button
      [disabled]="selectedItems.length < 1"
      style="width: 100px"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      class="btn btn-danger"
    >
      Delete
    </button>
  </div>
  <div class="d-flex gap-3">
    <!-- <button class="btn btn-warning btn-width fw-medium">
      {{ warningBtn }}
    </button>
    <button class="btn btn-danger btn-width fw-medium">
      {{ dangerBtn }}
    </button> -->

    <a
      routerLink="add"
      class="btn btn-primary text-white"
      *ngIf="pageName === 'products'"
    >
      New Product
    </a>
    <button
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
      class="btn btn-light btn-width px-3 d-flex align-items-center justify-content-between ms-3"
    >
      Filters
      <mat-icon>tune</mat-icon>
    </button>
  </div>
</div>
<app-prompt-danger
  [Deleted]="'user / users'"
  [action]="'Delete'"
  (clickedConfirm)="handleConfirming($event)"
></app-prompt-danger>
