.table-wrap {
  height: calc(100% - 80px);
  overflow-y: scroll;
}

.table-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

td,
th {
  padding: 16px !important;
  text-align: center;
}

td {
  cursor: pointer;
}

th input,
td input {
  cursor: pointer;
}
