<table class="table">
  <thead>
    <tr>
    <th><input type="checkbox" name="selectAll" /></th>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" name="selectAll" /></td>
      <td>e123dasd3qwd</td>
      <td>Mohamed Alkayal</td>
      <td>mohamedalkayal97&#64;gmail.com</td>
      <td>active</td>
    </tr>
    <tr>
      <td><input type="checkbox" name="selectAll" /></td>
      <td>e123dasd3qwd</td>
      <td>Mohamed Alkayal</td>
      <td>mohamedalkayal97&#64;gmail.com</td>
      <td>active</td>
    </tr>
  </tbody>
</table>
