
<div class="table-wrap border rounded rounded-2 position-relative">
  <table class="table table-striped table-hover table-light">
    <thead class="table-header shadow shadow-sm">
      <tr>
        <th>
          <input
            (click)="selectAll()"
            type="checkbox"
            [(ngModel)]="isAllSelected"
          />
        </th>
        <th>{{ cols.col1 }}</th>
        <th>{{ cols.col2 }}</th>
        <th>{{ cols.col3 }}</th>
        <th>{{ cols.col4 }}</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="navigateTo(row)" *ngFor="let row of data">
        <td (click)="stopPropegation(row, $event)">
          <input
            (click)="selectElement(row, $event)"
            [(ngModel)]="row.selected"
            type="checkbox"
          />
        </td>
        <td>{{ row.col1 }}</td>
        <td>{{ row.col2 }}</td>
        <td>{{ row.col3 }}</td>
        <td
          class="fw-bold d-flex align-items-center gap-1 justify-content-center"
        >
          <span
            [ngClass]="!row?.active ? 'bg-warning' : 'text-success'"
            style="padding: 1px 5px; border-radius: 4px"
          >
            {{ row.col4 }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

