<form
  [formGroup]="formGroup"
  style="width: 700px"
  class="d-flex align-items-end flex-column mt-3"
>
  <app-input
    lable="Voucher Code"
    [control]="formGroup.controls.voucherCode"
    [disabled]="true"
  ></app-input>
  <app-input
    lable="Discount Value"
    [control]="formGroup.controls.discountValue"
  ></app-input>
  <app-input
    lable="Discount Type"
    [isDropdown]="true"
    [options]="['flat', 'percentage']"
    [control]="formGroup.controls.discountType"
  ></app-input>
  <app-input
    lable="Expiry Date"
    [type]="'date'"
    [control]="formGroup.controls.expiryDate"
  ></app-input>
  <app-input
    lable="Max Usage"
    [type]="'number'"
    [control]="formGroup.controls.maxUsage"
  ></app-input>
  <app-input
    lable="Current Usage"
    [disabled]="true"
    [type]="'number'"
    [control]="formGroup.controls.currentUsage"
  ></app-input>
  <app-input
    lable="Status"
    [isDropdown]="true"
    [options]="['Active', 'Inactive']"
    [control]="formGroup.controls.status"
  ></app-input>
  <app-card-prompt
    [config]="cardInfo"
    [isDisabled]="isDisabled"
    (cancel)="clickedCancel()"
  ></app-card-prompt>
</form>
<app-prompt-confirm
  [promptText]="promptText"
  (ConfirmUpdated)="handlePromptConfirm()"
></app-prompt-confirm>
