<header
  class="d-flex align-items-center justify-content-between bg-white border px-4 py-1"
>
  <div class="d-flex align-items-center gap-1">
    <mat-icon class="text-bg-dark p-1 fs-6 rounded-circle">style</mat-icon>
    <h1 class="text-dark m-0 fw-bolder fs-4">Dashmala</h1>
  </div>
  <div>
    <div class="dropdown">
      <button
        class="btn d-flex align-items-center gap-1 p-2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <mat-icon style="transform: translateY(1px)">expand_more</mat-icon>
        <p class="m-0 fs-6 pe-2 fw-medium">{{ user.username }}</p>
        <mat-icon
          class="fs-2 overflow-visible d-flex align-items-center justify-content-center"
          >account_circle</mat-icon
        >
      </button>
      <ul class="dropdown-menu px-2 py-3">
        <li (click)="logout()" class="dropdown-item py-3">Logout</li>
      </ul>
    </div>
  </div>
</header>
