<div class="d-flex align-items-start gap-3">
  <label [for]="lable" class="form-label fw-semibold m-0 pt-1">
    {{ lable }}
  </label>
  <div
    class="input-group input-group-sm mb-3 d-flex align-items-center"
    style="width: 550px"
  >
    <span
      style="width: 65px"
      class="input-group-text"
      id="inputGroup-sizing-sm"
      >{{ innerLable }}</span
    >
    <select
      (ngModelChange)="getSelected($event)"
      class="form-select form-select-sm"
      [id]="lable"
      [formControl]="control"
    >
      <option>Select option</option>
      <option *ngFor="let opt of options" [value]="opt">
        {{ opt }}
      </option>
    </select>
  </div>
</div>
