<!-- <div style="width: 700px" class="d-flex align-items-end flex-column mt-3">
  @if(!selectedAdmin){
  <h1>Loading</h1>
  } @else {
  <app-input
    lable="Admin Username"
    [disabled]="true"
    [value]="currentFieldInfo.username"
  ></app-input>
  <app-input
    lable="Created By"
    [value]="currentFieldInfo.createdBy"
    [disabled]="true"
  ></app-input>
  <div class="input-group d-flex gap-3 align-items-center mb-3">
    <label class="form-label fw-semibold m-0">Authorities</label>
    <div class="d-flex" style="width: 550px">
      <div>
        <input type="checkbox" id="myCheckbox" />
        <label for="myCheckbox">Users Authority</label>
      </div>
      <div>
        <input type="checkbox" id="myCheckbox" />
        <label for="myCheckbox">Users Authority</label>
      </div>
      <div>
        <input type="checkbox" id="myCheckbox" />
        <label for="myCheckbox">Users Authority</label>
      </div>
    </div>
    <div class="d-flex" style="width: 550px">
      <div>
        <input type="checkbox" id="myCheckbox" />
        <label for="myCheckbox">Users Authority</label>
      </div>
      <div>
        <input type="checkbox" id="myCheckbox" />
        <label for="myCheckbox">Users Authority</label>
      </div>
      <div>
        <input type="checkbox" id="myCheckbox" />
        <label for="myCheckbox">Users Authority</label>
      </div>
    </div>
  </div>

  <app-card-prompt
    [config]="cardInfo"
    [isDisabled]="isDisabled"
    (cancel)="clickedCancel()"
  ></app-card-prompt>
  }
</div>
<app-prompt-confirm
  [promptText]="promptText"
  (ConfirmUpdated)="handlePromptConfirm()"
></app-prompt-confirm> -->
