<div class="container h-80 d-flex align-items-center justify-content-center">
  <div style="width: 600px" class="m-auto">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="border border-1 border-dark-subtle px-5 pt-5 rounded-4"
    >
      <div>
        <label for="name" class="form-label">User Name</label>
        <input
          id="name"
          formControlName="username"
          type="email"
          class="form-control"
          placeholder="User Name"
          required
        />
        <div style="height: 30px" class="my-2 ps-2">
          <div
            *ngIf="
              loginForm.get('username')?.getError('required') &&
              loginForm.get('username')?.touched
            "
            class="text-danger"
          >
            User Name is required
          </div>
        </div>
      </div>
      <div>
        <label for="age" class="form-label">Password</label>
        <input
          id="age"
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Password"
          required
        />
        <div style="height: 30px" class="my-2 ps-2">
          <div
            *ngIf="
              loginForm.get('password')?.getError('required') &&
              loginForm.get('password')?.touched
            "
            class="text-danger"
          >
            Password is required
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-dark w-100"
        [ngClass]="isLoading ? ' disabled' : ''"
        [disabled]="isLoading"
      >
        @if(isLoading){
        <div
          style="width: 12px; height: 12px"
          class="spinner-border"
          role="status"
        >
          <span class="sr-only"></span>
        </div>
        }@else { Login }
      </button>
      <div style="height: 38px" class="mt-3 ps-2 text-center">
        <span *ngIf="!isValid" class="text-danger">
          Invalid Credential Only admin can access
        </span>
      </div>
    </form>
    <p class="p-3 text-center">
      This page is for authorized admins only, if you think you got here by
      mistake please inform us on example&#64;mail.com
    </p>
  </div>
</div>
