<div class="p-4 border border-1 rounded-2 d-flex text-center flex-column">
  <p class="text-secondary" style="font-size: 14px">{{ config.data }}</p>
  <button 
  class="btn btn-{{ config.color }}" 
  [disabled]="isDisabled"
  data-bs-toggle="modal" 
  data-bs-target="#Confirm">
  >
    {{ config.text }}
    
  </button>
  <span class="my-3 w-80 m-auto border border-1"></span>
  <button
    class="btn btn-outline-secondary"
    [disabled]="isDisabled"
    (click)="clickedCancel($event)"
    data-bs-toggle="modal" 
    data-bs-target="#Confirm">
  >
    Cancel
  </button>
</div>

<!-- Popup -->
<div class="modal fade " id="Confirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>Lorem ipsum dolor sit ipsum dolor sit, amet consectetur adipisicing elit amet
                  consectetur!</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" (click)="Confirm()" class="btn btn-success">Confirm</button>
          </div>
      </div>
  </div>
</div>