<div class="d-flex gap-5 p-3">
  <div style="width: 700px" class="d-flex align-items-end flex-column mt-5">
    <app-input
      lable="Product ID"
      type="text"
      [disabled]="true"
      [value]="product._id"
    ></app-input>
    <app-input
      lable="Product Name"
      type="text"
      [value]="product.name"
    ></app-input>
    <app-input
      lable="Brand Name"
      type="text"
      [value]="product.brandName"
    ></app-input>
    <app-input-textarea
      lable="Description"
      [value]="product.description"
    ></app-input-textarea>
    <app-input
      lable="Price"
      type="number"
      [value]="product.price"
      unit="LE"
    ></app-input>
    <app-input
      lable="Discount"
      type="number"
      [value]="product.discountPercentage"
      unit="%"
    ></app-input>
    <app-input
      lable="Category"
      [value]="product.category"
      [options]="['test1', 'test2', 'test3', 'test4', 'test5', 'Smart Phones']"
      [isDropdown]="true"
    ></app-input>
    <app-input
      lable="Sub Category"
      [value]="product.subCategory"
      [options]="['test1', 'test2', 'test3', 'test4', 'test5', 'Gaming Phones']"
      [isDropdown]="true"
    ></app-input>
    <app-input
      lable="Model Number"
      type="text"
      [value]="product.modelNumber"
    ></app-input>
    <app-input
      lable="Manufacturer"
      type="text"
      [value]="product.manufacturer"
    ></app-input>
    <app-input
      lable="Made In"
      type="text"
      [value]="product.countryOfOrigin"
    ></app-input>
    <app-input-two-fields
      label="Specification"
      mainPlaceholder="spec"
      subPlaceholder="value"
      [options]="product._specs"
    ></app-input-two-fields>
    <app-input-two-fields
      label="Colors"
      mainPlaceholder="Color Value"
      subPlaceholder="Quantity"
      [options]="product._colors"
    ></app-input-two-fields>
    <app-input
      lable="Stock"
      [disabled]="true"
      type="number"
      [value]="product._stock"
    ></app-input>
    <app-input-keywords [keywords]="product.keywords"></app-input-keywords>
    <app-card-cta
      [config]="{
        data: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
        color: 'secondary',
        text: 'Freeze'
      }"
    ></app-card-cta>
    <app-card-cta
      [config]="{
        data: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
        color: 'warning',
        text: 'Open Ticket'
      }"
    ></app-card-cta>
    <app-card-cta
      [config]="{
        data: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
        color: 'danger',
        text: 'Delete'
      }"
    ></app-card-cta>
  </div>
  <div class="mt-5" style="width: 400px">
    <app-card-prompt
      [config]="{
        data: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
        color: 'success',
        text: 'Apply Changes'
      }"
      [isDisabled]="true"
    ></app-card-prompt>
  </div>
</div>
