<form *ngIf="product" [formGroup]="formGroup">
  <div class="d-flex gap-5 pt-4 my-5">

    <div style="width: 700px" class="d-flex align-items-end flex-column mt-5">
      <app-input lable="Product ID" type="text" [disabled]="true" [control]="formGroup.controls._id"></app-input>
      <app-input lable="Product Name" type="text" [control]="formGroup.controls.name"></app-input>

      <app-input lable="Brand Name" type="text" [control]="formGroup.controls.brandName"></app-input>
      <app-input-textarea lable="Description" [control]="formGroup.controls.description"></app-input-textarea>
      <app-input lable="Price" type="number" [value]="product.price" unit="LE"
        [control]="formGroup.controls.price"></app-input>
      <app-input lable="Discount" type="number" [control]="formGroup.controls.discountPercentage" unit="%"></app-input>
      <app-input lable="Category" [control]="formGroup.controls.category"
        [options]="['test1', 'test2', 'test3', 'test4', 'test5', 'Smart Phones']" [isDropdown]="true"></app-input>
      <app-input lable="Sub Category" [control]="formGroup.controls.subcategory"
        [options]="['test1', 'test2', 'test3', 'test4', 'test5', 'Gaming Phones']" [isDropdown]="true"></app-input>
      <app-input lable="Model Number" type="text" [control]="formGroup.controls.modelNumber"></app-input>
      <app-input lable="Manufacturer" type="text" [control]="formGroup.controls.manufacturer"></app-input>
      <app-input lable="Made In" type="text" [control]="formGroup.controls.countryOfOrigin"></app-input>
      <app-input-two-fields [control_key]="formGroup.controls.specKey" [control_value]="formGroup.controls.specValue"
        label="Specification" mainPlaceholder="spec" subPlaceholder="value"
        [options]="product._specs"></app-input-two-fields>
      <app-input-two-fields [control_key]="formGroup.controls.color_l_controlKey"
        [control_value]="formGroup.controls.color_l_controlValue" label="Colors" mainPlaceholder="Color Value"
        subPlaceholder="Quantity" [options]="product._colors"></app-input-two-fields>
      <app-input lable="Stock" [disabled]="true" type="number" [control]="formGroup.controls.stock"></app-input>
      <app-input-keywords [keywords]="product.keywords"></app-input-keywords>
      <app-card-cta [config]="{
        data: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
        color: 'secondary',
        text: 'Freeze'
      }"></app-card-cta>
      <app-card-cta [config]="{
        data: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
        color: 'warning',
        text: 'Open Ticket'
      }"></app-card-cta>
      <app-card-cta [config]="{
        data: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
        color: 'danger',
        text: 'Delete'
      }"></app-card-cta>
    </div>
    <div class="mt-5" style="width: 400px">
      <app-card-prompt [config]="{
        data: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
        color: 'success',
        text: 'Apply Changes'
      }" [isDisabled]="true"></app-card-prompt>
    </div>
  </div>
</form>