<!-- <app-card-alert
    [config]="{title:'Ticket#32134',data:'Loremipsum dolor sit amet consectetur adipisicing elits Loremipsum dolor sit amet consectetur adipisicing elits',text:'Resolve',borderColor:'border-warning',BG:'lightWarning'}"></app-card-alert>
<app-card-alert
    [config]="{title:'Freezed',data:'Loremipsum dolor sit amet consectetur adipisicing elits Loremipsum dolor s0it amet consectetur adipisicing elits',text:'Defreeze',borderColor:'border-info',BG:'lightInfo'}"></app-card-alert>
 -->

<!-- <app-card-cta
    [config]="{data:'Loremipsum dolor sit amet consectetur adipisicing elits',color:'btn-outline-secondary',text:'Print Invoice'}"></app-card-cta>
<app-card-cta
    [config]="{data:'sghfbhlkd fshf hhhhjf sjkjlfdrhjrj rfsdfe sgesgsg sdgsg',color:'btn-warning',text:'Open Ticket'}"></app-card-cta>
<app-card-cta
    [config]="{data:'sghfbhlkd fshf hhhhjf sjkjlfdrhjrj rfsdfe sgesgsg sdgsg',color:'btn-danger',text:'Cancel'}"></app-card-cta> -->
<!-- <app-card-prompt
    [config]="{data:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laudantium, fuga, maxime accusantium quis saepe.Itaque, aut laborum?',color:'btn-success',text:'Apply Changes'}"></app-card-prompt> -->
<!-- <app-prompt-danger [Deleted]="4"></app-prompt-danger> -->
<!-- <apgp-prompt-confirm></apgp-prompt-confirm> -->
