<div class="d-flex gap-5 pt-4 my-5">
  <div style="width: 700px" class="d-flex align-items-end flex-column mt-5">
    <app-input
      lable="Product ID"
      [type]="'text'"
      [disabled]="true"
      [value]="user._id"
      (touched)="InputTouched($event)"
      [(value)]="productId"
    ></app-input>
    <app-input
      lable="First Name"
      [type]="'text'"
      [value]="user.firstName"
      (touched)="InputTouched($event)"
    ></app-input>
    <app-input
      lable="Last Name"
      [type]="'text'"
      [value]="user.lastName"
      (touched)="InputTouched($event)"

    ></app-input>
    <app-input 
    lable="Email" 
    [type]="'text'" 
    [value]="user.email"
    (touched)="InputTouched($event)"

    ></app-input>
    <app-input
      lable="Date Of Birth"
      [type]="'date'"
      [value]="user.dateOfBirth"
      (touched)="InputTouched($event)"
   
    ></app-input>
    <app-input-inner-lable
     lable="Phone Numbers"
      [values]="user._phones"
      (isInnerInputToched)="innerinputTouched($event)"
 
      >
    </app-input-inner-lable>
    <app-input-inner-lable
      lable="Address 1"
      [values]="user._address1"
      (dropdownEmmiter)="getSelectedGov1"
      (isInnerInputToched)="innerinputTouched($event)"
   
    >
    </app-input-inner-lable>
    <app-input-inner-lable
      lable="Address 2"
      [values]="user._address2"
      (dropdownEmmiter)="getSelectedGov2($event)"
      (isInnerInputToched)="innerinputTouched($event)"
    
    >
    </app-input-inner-lable>
    <app-card-cta
      [config]="{
        data: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
        color: 'light',
        text: 'View Orders'
      }"
    ></app-card-cta>
    <app-card-cta
      [config]="{
        data: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
        color: 'warning',
        text: 'Suspend'
      }"
    ></app-card-cta>
    <app-card-cta
      [config]="{
        data: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
        color: 'danger',
        text: 'Delete'
      }"
    ></app-card-cta>
  </div>
  <div class="mt-5" style="width: 400px">
    <app-card-prompt
      [config]="{
        data: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.',
        color: 'success',
        text: 'Apply Changes'
      }"
      (getUserData)="sendUserData($event)"
      [isDisabled]="isDisabeled"
      

    ></app-card-prompt>
  </div>
  
</div>
