<form [formGroup]="formGroup">
  <div *ngIf="user" class="d-flex gap-5 pt-4 my-5">
    <div style="width: 700px" class="d-flex align-items-end flex-column mt-5">


      <app-input lable="Product ID" [type]="'text'" [ValidInput]="true" [disabled]="true"
        (touched)="InputTouched($event)" [control]="formGroup.controls._id"></app-input>
      <app-input lable="First Name" [type]="'text'" [ValidInput]="formGroup.get('firstName')?.valid"
        (touched)="InputTouched($event)" [control]="formGroup.controls.firstName"></app-input>

      <div *ngIf="!(formGroup.controls.firstName.valid)" style="height: 10px ; width: 550px;">
        <p class="text-danger" style="transform: translateY(-12px); font-size: 12px;">First Name is required && Between
          3-15</p>
      </div>

      <app-input lable="Last Name" [ValidInput]="formGroup.get('lastName')?.valid" [type]="'text'"
        (touched)="InputTouched($event)" [control]="formGroup.controls.lastName"></app-input>

      <div *ngIf="!(formGroup.controls.lastName.valid)" style="height: 10px ; width: 550px;">
        <p class="text-danger" style="transform: translateY(-12px); font-size: 12px;">Last Name is required && Between
          3-15</p>
      </div>

      <app-input lable="Email" [ValidInput]="formGroup.get('email')?.valid" [type]="'text'"
        (touched)="InputTouched($event)" [control]="formGroup.controls.email"></app-input>

      <div *ngIf="!(formGroup.controls.email.valid)" style="height: 10px ; width: 550px;">
        <p class="text-danger" style="transform: translateY(-12px); font-size: 12px;">example deco&#64;gmail.com</p>
      </div>



      <app-input lable="Date Of Birth" [type]="'date'" [ValidInput]="formGroup.get('age')?.valid"
        (touched)="InputTouched($event)" [control]="formGroup.controls.age"></app-input>

      <app-input lable="Gender" [ValidInput]="true" [type]="'text'" (touched)="InputTouched($event)"
        [control]="formGroup.controls.gender"></app-input>
      <app-input-inner-lable lable="Phones" [ValidInput]="formGroup.get('phone_1')?.valid" innerLable="+20"
        type="number" (isInnerInputToched)="innerinputTouched($event)" [control]="formGroup.controls.phone_1">
      </app-input-inner-lable>

      <div *ngIf="!(formGroup.controls.phone_1.valid)" style="height: 10px ; width: 550px;">
        <p class="text-danger" style="transform: translateY(-12px); font-size: 12px;">Must be 11 number</p>
      </div>

      <app-input-inner-lable lable="" innerLable="+20" [ValidInput]="formGroup.get('phone_2')?.valid" type="number"
        (isInnerInputToched)="innerinputTouched($event)" [control]="formGroup.controls.phone_2" [disabled]="true">


      </app-input-inner-lable>
      <app-input-inner-dropdown [options]="governorates" lable="Address 1" innerLable="State"
        (selectedEmitter)="getSelectedGov_1($event)" [control]="formGroup.controls.state_1"></app-input-inner-dropdown>
      <app-input-inner-dropdown [options]="cities_1" lable="" innerLable="City"
        [control]="formGroup.controls.city_1"></app-input-inner-dropdown>

      <div *ngIf="!(formGroup.controls.street_1.valid)" style="height: 10px ; width: 550px;">
        <p class="text-danger" style="transform: translateY(-12px); font-size: 12px;">street is required && between
          7-20</p>
      </div>



      <app-input-inner-dropdown [options]="governorates" lable="Address 2" innerLable="State"
        (selectedEmitter)="getSelectedGov_2($event)" [control]="formGroup.controls.state_2"></app-input-inner-dropdown>
      <app-input-inner-dropdown [options]="cities_2" lable="" innerLable="City"
        [control]="formGroup.controls.city_2"></app-input-inner-dropdown>


      <app-input-inner-lable lable="" innerLable="Street" [ValidInput]="formGroup.get('street_2')?.valid" type="string"
        (isInnerInputToched)="innerinputTouched($event)" [control]="formGroup.controls.street_2">

      </app-input-inner-lable>

      <app-card-cta [config]="{
          data: 'Admin Access Granted! Manage users, review analytics, and optimize performance effortlessly. Your dashboard awaits – dive in and take control',
          color: 'light',
          text: 'View Orders'
        }"></app-card-cta>

      <app-card-cta [config]="suspensionObject" (clicked)="handleSuspending($event)"></app-card-cta>

      <app-card-cta [config]="{
          data: 'Attention: This action will permanently delete the user. Are you sure you want to proceed? Please ensure this action is necessary and irreversible. Proceed with caution.',
          color: 'danger',
          text: 'Delete'
        }" (clicked)="handleDeleting($event)"></app-card-cta>
    </div>
    <div class="mt-5" style="width: 400px">
      <app-card-prompt [config]="{
          data: 'make sure changes are saved to enact them. Verify accuracy before proceeding further.',
          color: 'success',
          text: 'Apply Changes'
        }" (getUserData)="sendUserData($event)" [isDisabled]="isDisabeled"></app-card-prompt>
    </div>
    <app-prompt-confirm [promptText]="promptText" (ConfirmUpdated)="handleUpdate($event)"></app-prompt-confirm>
    <app-prompt-danger [Deleted]="this.user.firstName" [action]="action"
      (clickedConfirm)="handleConfirming($event)"></app-prompt-danger>
  </div>
</form>