<div class=" d-flex justify-content-center align-items-center layer position-absolute end-0 start-0 top-0 bottom-0 ">
    <div class=" update  bg-white d-flex flex-column border border-1 rounded-2  px-3 py-4 w-30">
        <div class="d-flex align-items-center">
        </div>
        <div>
            <p class="text-center">Lorem ipsum dolor sit ipsum dolor sit, amet consectetur adipisicing elit amet
                consectetur adipisicing
                elit. nihil magnam!
            </p>
        </div>
        <div class="d-flex justify-content-between m-auto  mt-3 w-100">
            <div class="w-50 pe-1"><button (click)="confirm(true)" class=" w-100 btn btn-success ">Confirm</button>
            </div>
            <div class=" w-50 ps-1"><button (click)="confirm(false)" class=" w-100 btn
                        btn-outline-secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>