<div class="d-flex gap-3 align-items-start">
  <label [for]="label" class="form-label fw-bold m-0 pt-1">{{ label }}</label>
  <div>
    <div
      *ngFor="let opt of options"
      class="d-flex gap-2 mb-3"
      style="width: 550px"
    >
      <input
        type="text"
        [id]="label"
       
        [formControl]="control_key"
        class="form-control form-control-sm"
        (ngModelChange)="emmitData()"
        [placeholder]="mainPlaceholder"
      />
      <input
        type="text"
        class="form-control form-control-sm"
     
        [formControl]="control_value"
        (ngModelChange)="emmitData()"
        [placeholder]="subPlaceholder"
      />
    </div>
    <div
      (click)="addField()"
      style="cursor: pointer; font-size: 14px"
      class="w-100 btn btn-light mb-3 px-2 p-1 border rounded-1 d-flex justify-content-between align-items-center"
    >
      Add Field <mat-icon class="text-secondary">add_circle</mat-icon>
    </div>
  </div>
</div>
