@if(isLoading){
<div
  class="spinner-border text-dark"
  style="width: 5rem; height: 5rem; position: absolute; top: 50%; left: 50%"
  role="status"
>
  <span class="sr-only"></span>
</div>
}@else{
<div class="d-flex gap-3 page">
  <div
    style="width: 320px"
    class="border border-color rounded-2 overflow-hidden"
  >
    <app-list
      (selectedComponent)="handleSelectedComponent($event)"
      (newListItem)="handleNewCategory($event)"
      [list]="categoriesFromDb"
      addingButtonText="Add New Category"
    ></app-list>
  </div>
  <div
    class="w-100 p-4 bg-white border border-color rounded-2 overflow-y-scroll"
  >
    <app-one-category
      [selectedCategory]="selectedCategory"
      [newCategory]="newCat"
      (changedCategory)="handleCategoryChange()"
    ></app-one-category>
  </div>
</div>
}
