<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#TicketValue">
    X
</button>


<div style="min-width: 150px;" class="modal fade " id="TicketValue" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> Please type your issue or what you would like assistance with below :</p>

                <input [(ngModel)]="TicketValue" class=" form-control" type="text"
                    placeholder='Write "Type Your Issue" '>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="ConfirmTicket()" class="btn btn-warning">Open Ticket</button>
            </div>
        </div>
    </div>
</div>