:root {
  --black: #121212;
  --dark: #333;
  --light: #ddd;
}

* {
  box-sizing: border-box !important;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

/* Utilities  */
.border-color {
  border-color: #dee2e6;
}
.w-30 {
  width: 30%;
}
.w-35 {
  width: 35%;
}
.w-40 {
  width: 40%;
}
.w-45 {
  width: 45%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-width {
  width: 100px;
}
