:root {
  --black: #121212;
  --dark: #333;
  --light: #ddd;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lightWarning{
  background-color: #FFFBF6;
}
.lightInfo{
  background-color: #f8f9ff;
}
.w-30{
  width: 30%;
}
.w-35{
  width: 35%;
}
.w-40{
  width: 40%;
}
.w-45{
  width: 45%;
}
.w-60{
  width: 40%;
}
.w-80{
  width: 80%;
}
.w-90{
  width: 90%;
}
.layer{
  background-color: rgba(58, 57, 57, 0.2);
}
.hidden {
  display: none;
}