:root {
  --black: #121212;
  --dark: #333;
  --light: #ddd;
}



ul {
  padding: 0 !important;
  margin: 0 !important;
}


/* Utilities  */
.border-color {
  border-color: #dee2e6;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
